{% extends 'base.html' %}

{% block title %}{{ object.short_url }}{% endblock %}

{% block content %}
    <h1>Short URL Details</h1>
    <table>
        <tr>
            <th>Short URL:</th>
            <td>{{ object.short_url }}</td>
        </tr>
        <tr>
            <th>Long URL:</th>
            <td>{{ object.long_url }}</td>
        </tr>
        <tr>
            <th>Protocol:</th>
            <td>{{ object.protocol }}</td>
        </tr>
        <tr>
            <th>Created At:</th>
            <td>{{ object.created_at }}</td>
        </tr>
        <tr>
            <th>Clicks:</th>
            <td>{{ object.clicks }}</td>
        </tr>
    </table>
{% endblock %}
